* {
  margin: 0;
  padding: 0;
  font-family: Georgia, monospace;
}

header {
  padding: 1%;
}

h1 {
  font-family: helvetica;
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007a78;
  color: black;
  border: black;
  border-style: solid;
  border-width: 2px;
}

h1 {
  color: black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbar {
  width: 25%;
  border: 2px solid;
  border-radius: 5px;
}

.pages {
  gap: 20px;
}

footer {
  background-color: #007a78;
  color: black;
  border: black;
  border-style: solid;
  border-width: 2px;
  padding:1%;
}

.home {
  display: flex;
  justify-content: space-between;
}

.scroll {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid black;
  overflow-y: scroll;
  width: 15%;
  height: 700px;
  margin: 10px;
  padding: 10px;
}

.frontImage {
  position: relative;
  align-content: center;
  margin: 5%;
  width: 70%;
}

.frontImage img {
  border: 8px solid black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.frontImage p {
  position: absolute;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: 20px;
  top: 0;
  left: 0;
  padding-bottom: 4%;
}

.contentrow1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  gap: 20px;
}

.contentrow2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
  padding: 2%;
  gap: 20px;
}

.content1{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.content2{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.content3{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}
.content4{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}
.content5{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.content6{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}


@media (max-width: 600px) {
  .image-thing-whatever {
    width: 300px;
  }
}