* {
  margin: 0;
  padding: 0;
  font-family: Georgia, monospace;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #caa612;
}

a h1:hover {
  color: #caa612;
}

h1 {
  font-family: helvetica;
  font-size: 25px;
  margin: 10px;
}

.logo {
  border-color: black;
  border-radius: 50%;
  border-style: solid;
}

.logo:hover {
  border-color: #caa612;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007a78;
  color: black;
  border: black;
  border-style: solid;
  border-width: 2px;
  padding: 0.5%;
  padding-right: 3%;
}

header h1 {
  width: 10%;
  color: black;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0%;
  margin-left: 10px;
}

.searchbar {
  width: 25%;
  border: 2px solid;
  border-radius: 5px;
}

.searchbar:hover {
  border-color: #caa612;
}

.pages {
  display: flex;
  gap: 30%;
}

footer {
  background-color: #007a78;
  color: black;
  border: black;
  border-style: solid;
  border-width: 2px;
  padding: 1%;
}

.fronttop {
  display: flex;
  justify-content: space-between;
}

.deals {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  margin: 50px;
  border: black;
  border-style: solid;
  border-width: 3px;
}

.scroll {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid black;
  overflow-y: scroll;
  width: 15%;
  height: 700px;
  background-color: white;
  margin: 20px;
}

.scroll h1{
  display: flex;
  margin: auto;
  background-color: #007a78;
  border-width: 1%;
  border-style: solid;
  border-color: black;
}

.contentrow1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  gap: 20px;
}

.scroll p{
  margin: 20px;
  padding: 2%;
}

.contentrow1 div {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  background-color: white;
}

.contentrow1 p {
  padding: 5%;
}
.contentrow2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
  padding: 2%;
  gap: 20px;
}

.contentrow2 div {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  background-color: white;
}
.contentrow2 p {
  padding: 5%;
}
.accountavatar {
  width: 200%;
  border-radius: 25%;
  margin-right: 20%;
}

.accountavatar:hover {
  border-color: #caa612;
}

.workouttop {
  padding: 2%;
}

.nutritiontop {
  padding: 2%;
}
.workout-image {
  background-image: url(Deadlift.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.workouttotal {
  background-image: url(Pushup.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.workouttotal h1 {
  background-color: white;
  width: 55%;
}

.home {
  min-height: 100vh;
  width: 100%;
  background-image: url(Background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.deals {
  background-image: url(Squat.jpg);
  border: #007a78;
  border-width: 2%;
  border-style: solid;
}

.dealtitle {
  display: flex;
  flex-direction: column;
  background-color: #007a78;
  border-width: 1%;
  border-style: solid;
  border-color: black;
}
.descriptions {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  background-color: white;
}
.options option {
  padding: 5%;
  flex-basis: 100%;
  text-align: center;
  border: solid black;
  border-width: 1%;
}

.workoutrow {
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

.workoutrow div {
  border-width: 1%;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
  background-color: white;
}

.descriptions div {
  height: 300%;
  border-width: 1%;
  border-style: solid;
  border-color: black;
  padding: 2%;
  background-color: white;
}
.memberships {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  margin-bottom: 1px;
  border: #007a78;
  border-width: 5%;
  border-style: solid;
  background-color: white;
}

.nutritionlayout {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.column-container {
  display: flex;
}

.column {
  flex: 33.33%;
  height: 40%;
  margin: 5%;
  margin-top: 0;
  text-align: center;
}

.column p {
  border-color: black;
  border-width: 1%;
  border-style: solid;
  padding: 10%;
  background-color: white;
  margin-bottom: 5%;
}

.column img {
  width: 50%;
}

.nutrition {
  background-image: url(Food.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.subscriptions {
  display: flex;
  justify-content: space-around;
  gap: 5%;
  background-image: url(Superman.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.subscriptions div {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.subscriptions h1 {
  color: #004445;
}

.account {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px;
}

.account div {
  border: black solid;
  border-width: 2%;
  padding: 3%;
  width: 100%;
}

.avatar-container{
  margin-top: 20px;
  text-align: center;
}

.avatar-container input {
  border: black solid;
  border-width: 10px;
  border-radius: 50%;
  width: 10%;
}

.avatar-container input:hover {
  border-color: #caa612;
}

.profile-row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
}

.profile img {
  border-color: black;
  border-radius: 50%;
  border-style: solid;
  width: 50%;
}

.about {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  background-color: #BFBFBF ;
  padding: 5%;
  border: 2px black solid;
  border-radius: 15%;
  gap: 80px;
  flex-direction: column;
  margin-bottom: 20%;
  margin-top: 10%;
}

.about a {
  color: blue;
  text-decoration: underline blue;
}
